//https://coolors.co/d7222f-090809-e9d758-182825-016fb9
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300);

body {
	font-family: 'Source Sans Pro', sans-serif;
  font-size:18px;
}

.btn {
	border: 0;
}

.btn-flat {
	text-transform: none;
}

ul.dropdown-content {
  width: 250px !important;
}


.logo {
	margin-top: 30px;
}

.close-button {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  border: 3px solid rgba(0,0,0,.1);
  text-align: center;
  cursor: pointer;
  padding-top: 26px;
  box-sizing: border-box;
  margin: 0 auto;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
/*a.menu-transparente,ul.menu-transparente, .menu-transparente > li > a{
  background: transparent !important;
}*/


.menu-transparente >li>a{
  background-color: white !important;
  text-align: center;
  font-size: 18px !important
}
.menu-transparente >li>a:hover{
  font-weight: bold;
  color:red !important; 
  font-size: 18px !important
}



a.menu-transparente:hover, div.menu-transparente:hover{
  box-shadow: none;
  font-weight: bold;
  color:red !important; 
  font-size: 18px !important;

}

a.menu-transparente,div.menu-transparente, .menu-transparente >li{
  /*// background-color: rgba(215, 34, 47, 0.4);*/
  background-color: rgba(255, 255, 255, .5) !important;
  box-shadow: none;
  /*//color: white;*/
  color:black !important;
  font-size: 18px !important;
  font-weight:bold;

}
.main-container{
  width: 80%; 
  margin: 0 auto; 
  padding-top: 10px;
}
.main-container > strong{
  font-weight: bold;
}
.main-container > ul > li{
  list-style-type: initial !important;
  margin-left: 20px;
}