//https://coolors.co/d7222f-090809-e9d758-182825-016fb9
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300);

body {
	font-family: 'Source Sans Pro', sans-serif;
}

.btn {
	border: 0;
}

.btn-flat {
	text-transform: none;
}

.dropdown-content > li > a {
	font-size: 14px !important;
}


.logo {
	margin-top: 30px;
}

.close-button {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  border: 3px solid rgba(0,0,0,.1);
  text-align: center;
  cursor: pointer;
  padding-top: 26px;
  box-sizing: border-box;
  margin: 0 auto;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.special-hover:hover {
  // background-color: rgba(215, 34, 47, 0.4);
  background-color: rgba(0, 0, 0, 0.498039);
  box-shadow: none;
	color: white;
}
