<template name="blog">
  <div class="parallax-container row valign-wrapper main-section-container">
    <h1 class="valign" style="margin:auto;">{{dict "blog.title"}}</h1>
    <div class="parallax"><img src="https://d33wubrfki0l68.cloudfront.net/img/97a76c037453e9facc0b0dd856c6755264a2a1bb/grid-bg-1.jpg"></div>
  </div>
  <div class='main-container row'>
  {{# each post }}
    <a target="'_blank" href={{url}}>
      <div class="card medium col s12 m10 offset-m1 l8 offset-l2 hoverable">
        <div class="card-content">
          <h5>{{title}}</h5>
          <p>{{content}}</p>
        </div>
        <div class="card-action">
          <span>{{publisher}}</span>
          {{> social_buttons url=url text=title}}
        </div>
      </div>
  </a>
  {{/each}}
  </div>
  {{>footer}}
</template>
