<template name="homeBanner">
	<div class="banner" style="background-image: url({{ dict 'home.image.url' }}); height: {{ dict 'home.bannerHeight' 10 }}px;">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="texts">
						<div class="row">
							<div class="col-sm-offset-6 col-sm-6 text-right">
								<p class="subtitle">{{ dict 'home.text' }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="hidden-xs">
			<br><br><br><br><br>
		</div>
	</div>
</template>
