<template name="homeEnterprises">
	<div class="enterprises">
		<div class="container">
			{{# if Template.subscriptionsReady }}
				<div class="row">
					{{# each enterprises }}
						<div class="col-sm-12">
							{{> homeEnterprisesEnterprise }}
						</div>
					{{/ each }}
				</div>
				
			{{ else }}
				loading...
			{{/ if }}
		</div>
	</div>
</template>

<template name="homeEnterprisesEnterprise">
	<br>
	<div class="row enterprise">
		<div class="col-sm-7">
			{{# if youtubeVideoCode }}
				<br>
				<div class="embed-responsive embed-responsive-16by9">
				  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ youtubeVideoCode }}" allowfullscreen></iframe>
				</div>
			{{ else }}
				<img class="image" src="{{ image.url }}">
			{{/ if }}
		</div>
		<div class="col-sm-5">
			<h3 class="title">{{ title }}</h3>
			<h5 class="subtitle">{{ subtitle }}</h5>
			<p class="location"><i class="fa fa-fw fa-map-marker"></i> {{ location }}</p>
			{{# if dueDate }}
				<p class="due-date">
					<i class="fa fa-fw fa-clock-o"></i> {{ daysLeft }}
				</p>
			{{/ if }}
			{{# if funded }}
				<div class="status">
					<div class="progress">
						<div class="progress-bar" style="width: {{ getCompletedPercentage }}%;">
							<span class="sr-only">{{ getCompletedPercentage }}% Completado</span>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-5">
							<p>
								<span class="label label-danger">{{ toCurrency funded }}</span>
								Financiado
							</p>
						</div>
						<div class="col-xs-5">
							<p>
								<span class="label label-danger">{{ toCurrency pledged }}</span>
								Solicitado
							</p>
						</div>
					</div>
				</div>
			{{/ if }}
			<div class="info">
				<table class="table">
					<tbody>
						{{# each info }}
							<tr>
								<td><b>{{ label }}</b></td>
								<td>{{ val }}</td>
							</tr>
						{{/ each }}
					</tbody>
				</table>
			</div>
			{{# if moreInfoLink }}
				<p>
					<a class="btn btn-primary" href="{{ moreInfoLink }}">Mas información</a>
				</p>
			{{/ if }}
		</div>
	</div>
</template>