<template name="homeNumbers">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div class="row">
					<div class="col-sm-3">
						<i class="fa fa-bar-chart fa-4x"></i>
					</div>
					<div class="col-sm-7 pull-right">
						<h4>{{ dict 'home.numbersSuccesfullyFunded' }}</h4>
						<p>{{ dict 'home.textSuccesfullyFunded' }}</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="row">
					<div class="col-sm-3">
						<i class="fa fa-users fa-4x"></i>
					</div>
					<div class="col-sm-7 pull-right">
						<h4>{{ dict 'home.numbersRegisteredInvestors' }}</h4>
						<p>{{ dict 'home.textRegisteredInvestors' }}</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="row">
					<div class="col-sm-3">
						<i class="fa fa-suitcase fa-4x"></i>
					</div>
					<div class="col-sm-7 pull-right">
						<h4>{{ dict 'home.numbersFundedBusiness' }}</h4>
						<p>{{ dict 'home.textFundedBusiness' }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
