<template name="prensa">
  <div class="parallax-container row valign-wrapper main-section-container">
    <h1 class="valign" style="margin:auto;">{{dict "prensa.title"}}</h1>
    <div class="parallax"><img src="https://d33wubrfki0l68.cloudfront.net/img/97a76c037453e9facc0b0dd856c6755264a2a1bb/grid-bg-1.jpg"></div>
  </div>
  <div class='main-container row'>
  {{# each post }}
    <a target="'_blank" href={{url}}>
  <div class="card medium col s12 m12 l12 hoverable">
    <div class="card-image">
      <img src={{image.url}}>
    </div>
    <div class="card-content">
      <h5>{{title}}</h5>
    </div>
    <div class="card-action">
      <span>{{publisher}}</span>
      {{> social_buttons url=url text=title}}
    </div>
  </div>
  </a>
  {{/each}}
  </div>
  {{>footer}}
</template>
