<template name="prensa">
  <div class="parallax-container row valign-wrapper" style="height:400px;">
    <h1 class="valign" style="margin:auto;">{{dict "prensa.title"}}</h1>
    <div class="parallax"><img src="https://d33wubrfki0l68.cloudfront.net/img/97a76c037453e9facc0b0dd856c6755264a2a1bb/grid-bg-1.jpg"></div>
  </div>
  <div class='main-container row'>
  <div class="card medium col s12 m12 l12">
    <div class="card-image">
      <img src="images/1.png">
    </div>
    <div class="card-content">
      <h5>Los nuevos fondos de venture capital que buscan revitalizar el ecosistema local</h5>
    </div>
    <div class="card-action">
      <a href="http://impresa.elmercurio.com/Pages/NewsDetail.aspx?dt=2016-11-21&dtB=22-11-2016%200:00:00&PaginaId=8&bodyid=2">elmercurio.com</a>
    </div>
  </div>  
  <div class="card medium col s12 m12 l12">
    <div class="card-image">
      <img src="images/2.png">
    </div>
    <div class="card-content">
      <h5>Los nuevos fondos de capital de riesgo que se activarán en Chile</h5>
    </div>
    <div class="card-action">
      <a href="https://www.df.cl/noticias/empresas/innovacion-y-emprendimiento/noticias/los-nuevos-fondos-de-capital-de-riesgo-que-se-activaran-en-chile/2016-10-23/182525.html">Diario financiero</a>
    </div>
  </div>  
  <div class="card medium col s12 m12 l12">
    <div class="card-image">
      <img src="images/3.png">
    </div>
    <div class="card-content">
      <h5>Fondos de ángeles se reestructuran y apoyan a plataformas de financiamiento colectivo</h5>
    </div>
    <div class="card-action">
      <a href="http://impresa.elmercurio.com/Pages/NewsDetail.aspx?dt=2016-10-24&dtB=24-10-2016%200:00:00&PaginaId=8&bodyid=2">elmercurio.com</a>
    </div>
  </div>
	<!-- {{{dict "prensa.body"}}} -->
  </div>
  {{>footer}}
</template>