<template name="newheader">
	<div class="navbar-fixed">
		<nav>
	  	  <div class="nav-wrapper">
	    	  <a href="#" class="brand-logo">Logo</a>
	      	<ul id="nav-mobile" class="right hide-on-med-and-down">
	        	<li><a href="collapsible.html">
								<svg class="icon icon-menu"><use xlink:href="#icon-menu"></use></svg>
							</a>
						</li>
	      	</ul>
	    	</div>
	  	</nav>
	</div>
</template>

<template name="newHeaderPages">
  <li>
    <a href="{{ path }}">
      {{ title }}
    </a>
  </li>
</template>
