<template name="newheader">
	<div class="navbar-fixed">
		<nav>
	  	  <div class="nav-wrapper">
	    	  <a href="#" class="brand-logo">
						<img src="/images/VENTURE.png" style="height:80px; width:250px">
					</a>
	      	<ul id="nav-mobile" class="right hide-on-med-and-down">
	        	<li>
							<a class="btn-floating btn-large waves-effect waves-light red menuBtn">
								<svg class="icon icon-menu" style="font-size: 24px;"><use xlink:href="#icon-menu"></use></svg>
							</a>
						</li>
	      	</ul>
	    	</div>
	  	</nav>
	</div>
</template>

<template name="newHeaderPages">
  <li>
    <a href="{{ path }}">
      {{ title }}
    </a>
  </li>
</template>
