<template name="selectOptions">
  <option value="1">Menor o igual a $100.000</option>
  <option value="2">$100.000 - $300.000</option>
  <option value="3">$300.000 - $500.000</option>
  <option value="4">$500.000 - $700.000</option>
  <option value="5">$700.000 - $900.000</option>
  <option value="6">$900.000 - $1.100.000</option>
  <option value="7">$1.100.000 - $1.300.000</option>
  <option value="8">$1.300.000 - $1.500.000</option>
  <option value="9">$1.500.000 - $1.700.000</option>
  <option value="10">$1.700.000 - $1.900.000</option>
  <option value="11">$1.900.000 - $2.100.000</option>
  <option value="12">$2.100.000 - $2.300.000</option>
  <option value="13">$2.300.000 - $2.500.000</option>
  <option value="14">$2.500.000 - $2.700.000</option>
  <option value="15">$2.700.000 - $2.900.000</option>
  <option value="16">$2.900.000 - $3.100.000</option>
  <option value="17">$3.100.000 o más</option>
</template>

<template name="higherOptions">
  <option value="1">$500.000 - $800.000</option>
  <option value="2">$800.000 - $1.100.000</option>
  <option value="3">$1.100.000- $1.400.000</option>
  <option value="4">$1.400.000 - $1.700.000</option>
  <option value="5">$1.700.000 - $2.000.000</option>
  <option value="6">$2.000.000 - $2.300.000</option>
  <option value="7">$2.300.000 - $2.500.000</option>
  <option value="8">$2.500.000 - $2.800.000</option>
  <option value="9">$2.800.000 - $3.100.000</option>
  <option value="10">$3.100.000 - $3.400.000</option>
  <option value="11">$3.400.000 - $3.700.000</option>
  <option value="12">$3.700.000 - $4.000.000</option>
  <option value="13">$4.000.000 - $4.300.000</option>
  <option value="14">$4.300.000 o más</option>
</template>

<template name="inmobiliario">
  <div class="parallax-container row valign-wrapper"  style="height:400px;">
    <h1  class="valign" style="margin:auto;">Contacto Inmobiliario</h1>
    <div class="parallax"><img src="https://d33wubrfki0l68.cloudfront.net/img/97a76c037453e9facc0b0dd856c6755264a2a1bb/grid-bg-1.jpg">
    </div>
  </div>
  <div style='width: 80%; margin: 0 auto;'>
    <!-- <h1>Contacto</h1> -->
    <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12 m12 l4">
              <input id="names" type="text" class="validate">
              <label for="names">Nombre</label>
            </div>
            <div class="input-field col s12 m12 l4">
              <input id="lastName" type="text" class="validate">
              <label for="lastName">Apellidos</label>
            </div>
            <div class="input-field col s12 m12 l4">
              <input id="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
            <div class="input-field col s12 m12 l4">
              <input id="phone" type="text" class="validate">
              <label for="phone">Telefono</label>
            </div>
            <div class="input-field col s12 m12 l4">
              <input id="rut" type="text" class="validate">
              <label for="rut">RUT</label>
            </div>
            <div class="input-field col s12 m12 l4">
              <select id="monthlySalary">
                {{> higherOptions}}
              </select>
              <label for="monthlySalary">Renta Mensual Líquida</label>
            </div>
            <div class="input-field col s12 m12 l4">
              <select id="monthlySavings">
                {{> selectOptions}}
              </select>
              <label for="monthlySavings">Capacidad de Ahorro Mensual</label>
            </div>
            <div class="input-field col s12 m12 l4">
              <select id="monthlyPayments">
                {{> selectOptions}}
              </select>
              <label for="monthlyPayments">Disposición Cuotas Mensuales</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field  col s12">
              <textarea id="message"  class="validate materialize-textarea"></textarea>
            </div>
          </div>
          {{> reCAPTCHA}}
          <br>
          <button class="btn waves-effect waves-light red" type="submit" name="action">Enviar
          </button>
        </form>
      </div>
  </div>
</template>
