<template name="footer">
	<div class="footer">
		<div class="container">
			{{# if Template.subscriptionsReady }}
				<div class="row">
					<div class="col-sm-3">
						<h3>Nosotros</h3>
						<div class="pages-item">
							<a href="{{ pathFor 'team' }}">
								Equipo
							</a>
						</div>
						<div class="pages-item">
							<a href="{{ pathFor 'clients' }}">
								Clientes
							</a>
						</div>
						{{# each getPages "1" }}
						 	{{> footerPages }}
						{{/ each }}
					</div>
					<div class="col-sm-3">
						<h3>Ayuda</h3>
						{{# each getPages "2" }}
						 	{{> footerPages }}
						{{/ each }}
					</div>
					<div class="col-sm-3">
						<h3><a href="{{ dict 'homeRaiseCapitalLink' }}">Emprende</a></h3>
						{{# each getPages "3" }}
						 	{{> footerPages }}
						{{/ each }}
					</div>
					<div class="col-sm-3">
						<h3><a href="{{ dict 'homeInvestLink' }}">Invierte</a></h3>
						{{# each getPages "4" }}
						 	{{> footerPages }}
						{{/ each }}
					</div>
				</div>
			{{ else }}
				
			{{/ if }}
			<br><br>
			<div class="text-center">
				<p class="copyright">
					Venture Capital SpA 2010 - 2015 ®
				</p>
				<p class="links">
					<a href="{{ dict 'facebook' }}" target="_BLANK">
						<i class="fa fa-facebook"></i>
					</a>
					<a href="{{ dict 'twitter' }}" target="_BLANK">
						<i class="fa fa-twitter"></i>
					</a>
					<a href="{{ dict 'linkedin' }}" target="_BLANK">
						<i class="fa fa-linkedin"></i>
					</a>
				</p>
			</div>
		</div>
	</div>
</template>
<template name="footerPages">
	<div class="pages-item">
		<a href="{{ path }}">
			{{ title }}
		</a>
	</div>
</template>