<template name="newheader">
	<div >
		<nav style='position: absolute; z-index: 1000'>
	  	  <div >
	  	  	<a href="/">
						<div style="background-image: url('/images/VENTURE.png'); width:225px; height:64px; margin-left:20px; background-size:contain; background-repeat: no-repeat; position: absolute"></div>
	  	  	</a>
					<ul id="nav-mobile sections" class="right hide-on-med-and-down ">
						<li>
							<div class='dropdown-button btn btn-flat menu-transparente  red-outline'
								data-beloworigin="true"
								data-hover='true'
								data-activates='dropdown1'
								style='position: relative'>Capital de riesgo</div>
							<!-- Dropdown Structure -->
							<ul id='dropdown1' class='dropdown-content menu-transparente' style='margin-left: -30px'  >
								<li><a href="/capital-de-riesgo/raicap" class="  red-outline  black-text" >Raicap, fondo de inversión</a></li>
								<li><a href="/capital-de-riesgo/red-angel" class="  red-outline black-text" >Red ángel</a></li>
							</ul>


							<a href='/intermediacion' class="waves-effect waves-light btn btn-flat menu-transparente red-outline ">Intermediación</a>

							<a class="waves-effect waves-light btn btn-flat menu-transparente red-outline">Inmobiliario</a>


						</li>
						<li>
							<a class="btn-floating btn-large waves-effect waves-light red menuBtn" style="width:40px;height:40px;">
								{{> iconmenu}}
							</a>
						</li>
	      	</ul>
	    	</div>
	  	</nav>
	  	{{> menu}}
	</div>
</template>

<template name="newHeaderPages">
  <li>
    <a href="{{ path }}">
      {{ title }}
    </a>
  </li>
</template>
