<template name="team">
  <br>
  <div class="container pagesSimple">
    <h1 class="page-title">Equipo</h1>
    <hr>

    <div class="content team">
      <div class="row">
        {{# each persons }}
          <div class="col-sm-6 col-md-4 team-item">
            <div class="">
              <img src="{{ image.url }}" class="img-circle">
            </div>
            <h3>{{ name }}</h3>
            <h4>{{ role }}</h4>
            <p>
              <a href="mailto:{{ email }}">{{ email }}</a>
            </p>
          </div>
        {{/ each }}
      </div>
      
    </div>
    <br><br>
  </div>
</template>