<template name="angel">
  <div class="parallax-container row middle-xs center-xs" style="height:400px;">
    <h1>{{dict "red-angel.title"}}</h1>
    <div class="parallax"><img src="/images/home-image.jpg"></div>
  </div>
  <div class='main-container'>
	{{{dict "red-angel.body"}}}
	<p style="font-weight: bold;">Quieres cambiar el mundo con nosotros? </p>
	<p style=""><a class="waves-effect waves-light btn">Soy emprendedor</a> 
	<a class="waves-effect waves-light btn" id="inversionistas">Soy inversionista</a></p>
  </div>
</template>