<template name="angel">
  <div class="parallax-container row valign-wrapper" style="height:400px;">
    <h1 class="valign" style="margin:auto;">{{dict "red-angel.title"}}</h1>
    <div class="parallax"><img src="https://d33wubrfki0l68.cloudfront.net/img/97a76c037453e9facc0b0dd856c6755264a2a1bb/grid-bg-1.jpg"></div>
  </div>
  <div class='main-container'>
	{{{dict "red-angel.body"}}}
	<p style="font-weight: bold;">Quieres cambiar el mundo con nosotros? </p>
	<div class='row'>
  <div class='col s12 m3 center' style="padding: 20px;"> 
  <a  href="https://docs.google.com/forms/d/e/1FAIpQLSfX1uQJobNt6vHbSdAu3QBW9J3mP9XoK1pcxMXH9vfRV1H3Wg/viewform?c=0&w=1" class="waves-effect red waves-light btn " >Soy emprendedor</a> 
  </div>
  <div class='col s12 m3 center' style="padding: 20px;"> 
  <a class="waves-effect red waves-light btn "  id="inversionistas">Soy inversionista</a>
  </div>
  </div>
  </div>
  {{>footer}}
</template>