<template name="nosotros">
  <div class="parallax-container row middle-xs center-xs" style="height:400px;">
    <h1 >Sobre nosotros</h1>
      <p>
Somos un equipo de emprendedores seriales, con más de ocho años de experiencia en la industria financiera, que
busca educar y conectar inversionistas con buenas oportunidades de inversión de forma transparente, segura y
exitosa.</p>
    <div class="parallax"><img src="/images/venture_team.png"></div>
  </div>
  <div style='width: 80%; margin: 0 auto;'>
    <h2 class="page-title">Directores</h2>
    <hr/>

      <div class="row ">
        {{# each managers }}
         <div class="card small team-card hoverable  ">
          <a href="{{linkedin}}" target="_blank">
          <div class="card-content">
            <img style="width:200px; max-height: 200px;"  src="{{ image.url }}">
            <span class="card-title activator grey-text text-darken-4" style="display:block">{{ name }}</span>

            <small style="display:inline-block">{{ role }}</small> 
            <img style="max-width: 20px;float:right;" src="/images/icon-linkedin.png"/>
          </div>
          </a>
         </div>

        {{/ each }}
      </div>
      
    <br/><br/>
   

  <h2 class="page-title">Equipo</h2>
    <hr/>

      <div class="row">
        {{# each team }}
         <div class="card small team-card hoverable" >
         <a href="{{linkedin}}" target="_blank">
          <div class="card-content ">
            <img style="width:200px" src="{{ image.url }}">
            <span class="card-title  grey-text text-darken-4" style="display:block">{{ name }}</span>
            <small style="display:inline-block">{{ role }}</small> 
            <img style="max-width: 20px;float:right;" src="/images/icon-linkedin.png"/>
          </div>
         </a>
         </div>

        {{/ each }}
      </div>
    <br/><br/>
   
  </div>
</template>