<template name="raicap">
  <div class="parallax-container row middle-xs center-xs" style="height:400px;">
    <h1>Capital de riesgo</h1>
    <div class="parallax"><img src="/images/home-image.jpg"></div>
  </div>
  <div style='width: 80%; margin: 0 auto;'>
    <h1>Reicap, fondo de inversión</h1>
      <p>
RaiCap Chile (del grupo Venture Capital), un fondo de inversión privado para startups en etapa temprana. Con
presencia latinoamericana, nuestra propuesta de valor se basa en invertir smart money reflejado en capital,
mentorías y asesorías, con tickets de inversión entre USD $200K - $700K.
</p>
<p>
  Además, el fondo otorga el apoyo y la ayuda necesaria para que las startups puedan expandirse por la región a
través de partners estratégicos y la red de inversionistas ángeles asociada.
</p>
<img src="http://placehold.it/350x150">

   <p>
     Quieres saber más? Visita <a href="http://raicap.com">raicap.com</a>
   </p>
  </div>
</template>